-- ECU/ACU 분리 필드 추가 (새로운 테이블 구조 반영)
-- ECU 전용 필드들
ALTER TABLE work_records 
ADD COLUMN IF NOT EXISTS ecu_category_id INTEGER REFERENCES equipment_categories(id),
ADD COLUMN IF NOT EXISTS ecu_manufacturer_id INTEGER REFERENCES manufacturers(id),
ADD COLUMN IF NOT EXISTS ecu_model_id INTEGER REFERENCES equipment_models(id),
ADD COLUMN IF NOT EXISTS ecu_connection_method VARCHAR(50),
ADD COLUMN IF NOT EXISTS ecu_works TEXT[],
ADD COLUMN IF NOT EXISTS ecu_work_details TEXT,
ADD COLUMN IF NOT EXISTS ecu_price NUMERIC(10,2),
ADD COLUMN IF NOT EXISTS ecu_status VARCHAR(20) DEFAULT '완료';

-- ACU 전용 필드들  
ALTER TABLE work_records 
ADD COLUMN IF NOT EXISTS acu_category_id INTEGER REFERENCES equipment_categories(id),
ADD COLUMN IF NOT EXISTS acu_manufacturer_id INTEGER REFERENCES manufacturers(id),
ADD COLUMN IF NOT EXISTS acu_model_id INTEGER REFERENCES equipment_models(id),
ADD COLUMN IF NOT EXISTS acu_connection_method VARCHAR(50),
ADD COLUMN IF NOT EXISTS acu_works TEXT[],
ADD COLUMN IF NOT EXISTS acu_work_details TEXT,
ADD COLUMN IF NOT EXISTS acu_price NUMERIC(10,2),
ADD COLUMN IF NOT EXISTS acu_status VARCHAR(20) DEFAULT '완료';

-- 기존 호환성을 위한 필드들 (레거시 데이터용)
ALTER TABLE work_records 
ADD COLUMN IF NOT EXISTS ecu_maker TEXT,
ADD COLUMN IF NOT EXISTS ecu_model TEXT,
ADD COLUMN IF NOT EXISTS acu_manufacturer TEXT,
ADD COLUMN IF NOT EXISTS acu_model TEXT;

-- 기존 데이터 마이그레이션
-- ECU 데이터 마이그레이션
UPDATE work_records 
SET 
  ecu_connection_method = connection_method,
  ecu_works = CASE 
    WHEN work_type ILIKE '%ECU%' THEN ARRAY['파워업']
    ELSE ARRAY[]::TEXT[]
  END,
  ecu_work_details = CASE 
    WHEN work_type ILIKE '%ECU%' THEN work_type || ' - ECU 튜닝 작업'
    ELSE ''
  END,
  ecu_price = CASE 
    WHEN work_type ILIKE '%ECU%' AND work_type ILIKE '%ACU%' THEN 100000
    WHEN work_type ILIKE '%ECU%' THEN 150000
    ELSE 0
  END,
  ecu_maker = CASE 
    WHEN 'KESS' = ANY(tools_used) THEN 'BOSCH'
    WHEN 'FLEX' = ANY(tools_used) THEN 'CONTINENTAL'
    WHEN 'PAD' = ANY(tools_used) THEN 'DELPHI'
    WHEN 'KTAG' = ANY(tools_used) THEN 'SIEMENS'
    ELSE 'BOSCH'
  END,
  ecu_model = CASE 
    WHEN 'KESS' = ANY(tools_used) THEN 'EDC17'
    WHEN 'FLEX' = ANY(tools_used) THEN 'PCR2.1'
    WHEN 'PAD' = ANY(tools_used) THEN 'DCM3.7'
    WHEN 'KTAG' = ANY(tools_used) THEN 'MED17'
    ELSE 'EDC16'
  END
WHERE work_type ILIKE '%ECU%' OR (tools_used IS NOT NULL AND array_length(tools_used, 1) > 0);

-- ACU 데이터 마이그레이션
UPDATE work_records 
SET 
  acu_connection_method = CASE 
    WHEN connection_method = 'BENCH' THEN 'BENCH'
    WHEN connection_method = 'OBD' THEN 'OBD'
    ELSE 'BENCH'
  END,
  acu_works = CASE 
    WHEN work_type ILIKE '%ACU%' THEN ARRAY['DPF 제거', 'AdBlue 제거']
    ELSE ARRAY[]::TEXT[]
  END,
  acu_work_details = CASE 
    WHEN work_type ILIKE '%ACU%' THEN work_type || ' - ACU 후처리 시스템 작업'
    ELSE ''
  END,
  acu_price = CASE 
    WHEN work_type ILIKE '%ECU%' AND work_type ILIKE '%ACU%' THEN 80000
    WHEN work_type ILIKE '%ACU%' THEN 120000
    ELSE 0
  END,
  acu_manufacturer = CASE 
    WHEN 'FLEX' = ANY(tools_used) THEN 'BOSCH'
    WHEN 'PAD' = ANY(tools_used) THEN 'CONTINENTAL'
    ELSE 'DINEX'
  END,
  acu_model = CASE 
    WHEN 'FLEX' = ANY(tools_used) THEN 'DCU-200'
    WHEN 'PAD' = ANY(tools_used) THEN 'ACU-Gen4'
    ELSE 'DeNOx'
  END
WHERE work_type ILIKE '%ACU%' OR work_type ILIKE '%DPF%' OR work_type ILIKE '%AdBlue%';

-- 외래키 참조 설정 (기존 데이터와 매칭)
-- ECU 카테고리 매칭
UPDATE work_records 
SET ecu_category_id = (
  SELECT id FROM equipment_categories 
  WHERE type = 'ECU' AND name = 'KESS 시리즈' 
  LIMIT 1
)
WHERE ecu_maker IS NOT NULL AND ecu_category_id IS NULL;

-- ECU 제조사 매칭
UPDATE work_records 
SET ecu_manufacturer_id = (
  SELECT id FROM manufacturers 
  WHERE type = 'ECU' AND name = ecu_maker 
  LIMIT 1
)
WHERE ecu_maker IS NOT NULL AND ecu_manufacturer_id IS NULL;

-- ECU 모델 매칭
UPDATE work_records 
SET ecu_model_id = (
  SELECT em.id 
  FROM equipment_models em 
  JOIN manufacturers m ON em.manufacturer_id = m.id
  WHERE em.type = 'ECU' 
    AND em.name = COALESCE(work_records.ecu_model, 'EDC16')
    AND m.name = COALESCE(work_records.ecu_maker, 'BOSCH')
  LIMIT 1
)
WHERE ecu_maker IS NOT NULL AND ecu_model_id IS NULL;

-- ACU 카테고리 매칭  
UPDATE work_records 
SET acu_category_id = (
  SELECT id FROM equipment_categories 
  WHERE type = 'ACU' AND name = 'FLEX 시리즈' 
  LIMIT 1
)
WHERE acu_manufacturer IS NOT NULL AND acu_category_id IS NULL;

-- ACU 제조사 매칭
UPDATE work_records 
SET acu_manufacturer_id = (
  SELECT id FROM manufacturers 
  WHERE type = 'ACU' AND name = acu_manufacturer 
  LIMIT 1
)
WHERE acu_manufacturer IS NOT NULL AND acu_manufacturer_id IS NULL;

-- ACU 모델 매칭
UPDATE work_records 
SET acu_model_id = (
  SELECT em.id 
  FROM equipment_models em 
  JOIN manufacturers m ON em.manufacturer_id = m.id
  WHERE em.type = 'ACU' 
    AND em.name = COALESCE(work_records.acu_model, 'DCU-200')
    AND m.name = COALESCE(work_records.acu_manufacturer, 'BOSCH')
  LIMIT 1
)
WHERE acu_manufacturer IS NOT NULL AND acu_model_id IS NULL;

-- 인덱스 생성
CREATE INDEX IF NOT EXISTS idx_work_records_ecu_category_id ON work_records(ecu_category_id);
CREATE INDEX IF NOT EXISTS idx_work_records_ecu_manufacturer_id ON work_records(ecu_manufacturer_id);
CREATE INDEX IF NOT EXISTS idx_work_records_ecu_model_id ON work_records(ecu_model_id);
CREATE INDEX IF NOT EXISTS idx_work_records_ecu_connection_method ON work_records(ecu_connection_method);
CREATE INDEX IF NOT EXISTS idx_work_records_ecu_status ON work_records(ecu_status);

CREATE INDEX IF NOT EXISTS idx_work_records_acu_category_id ON work_records(acu_category_id);
CREATE INDEX IF NOT EXISTS idx_work_records_acu_manufacturer_id ON work_records(acu_manufacturer_id);
CREATE INDEX IF NOT EXISTS idx_work_records_acu_model_id ON work_records(acu_model_id);
CREATE INDEX IF NOT EXISTS idx_work_records_acu_connection_method ON work_records(acu_connection_method);
CREATE INDEX IF NOT EXISTS idx_work_records_acu_status ON work_records(acu_status);

-- 통계 및 검증을 위한 뷰 생성
CREATE OR REPLACE VIEW v_work_records_detailed AS
SELECT 
  wr.id,
  wr.customer_id,
  wr.equipment_id,
  wr.work_date,
  wr.work_type,
  wr.total_price,
  wr.status,
  
  -- ECU 정보
  ec_ecu.name AS ecu_category_name,
  m_ecu.name AS ecu_manufacturer_name,
  em_ecu.name AS ecu_model_name,
  wr.ecu_connection_method,
  wr.ecu_works,
  wr.ecu_work_details,
  wr.ecu_price,
  wr.ecu_status,
  
  -- ACU 정보
  ec_acu.name AS acu_category_name,
  m_acu.name AS acu_manufacturer_name,
  em_acu.name AS acu_model_name,
  wr.acu_connection_method,
  wr.acu_works,
  wr.acu_work_details,
  wr.acu_price,
  wr.acu_status,
  
  wr.created_at,
  wr.updated_at
FROM work_records wr
LEFT JOIN equipment_categories ec_ecu ON wr.ecu_category_id = ec_ecu.id
LEFT JOIN manufacturers m_ecu ON wr.ecu_manufacturer_id = m_ecu.id
LEFT JOIN equipment_models em_ecu ON wr.ecu_model_id = em_ecu.id
LEFT JOIN equipment_categories ec_acu ON wr.acu_category_id = ec_acu.id
LEFT JOIN manufacturers m_acu ON wr.acu_manufacturer_id = m_acu.id
LEFT JOIN equipment_models em_acu ON wr.acu_model_id = em_acu.id;

-- 통계 출력
SELECT 
  'ECU 작업' as type,
  COUNT(*) as total_count,
  COUNT(ecu_category_id) as with_category,
  COUNT(ecu_manufacturer_id) as with_manufacturer,
  COUNT(ecu_model_id) as with_model,
  COUNT(ecu_connection_method) as with_connection_method,
  COUNT(ecu_works) as with_works,
  COUNT(ecu_price) as with_price
FROM work_records 
WHERE ecu_category_id IS NOT NULL OR ecu_maker IS NOT NULL

UNION ALL

SELECT 
  'ACU 작업' as type,
  COUNT(*) as total_count,
  COUNT(acu_category_id) as with_category,
  COUNT(acu_manufacturer_id) as with_manufacturer,
  COUNT(acu_model_id) as with_model,
  COUNT(acu_connection_method) as with_connection_method,
  COUNT(acu_works) as with_works,
  COUNT(acu_price) as with_price
FROM work_records 
WHERE acu_category_id IS NOT NULL OR acu_manufacturer IS NOT NULL;
