-- ECU/ACU 필드 추가 마이그레이션
-- work_records 테이블에 ECU와 ACU 관련 필드들을 추가합니다.

-- ECU 관련 필드 추가
ALTER TABLE work_records 
ADD COLUMN IF NOT EXISTS ecu_work_amount DECIMAL(10,2),
ADD COLUMN IF NOT EXISTS ecu_work_content TEXT,
ADD COLUMN IF NOT EXISTS ecu_status TEXT;

-- ACU 관련 필드 추가
ALTER TABLE work_records 
ADD COLUMN IF NOT EXISTS acu_work_amount DECIMAL(10,2),
ADD COLUMN IF NOT EXISTS acu_work_content TEXT,
ADD COLUMN IF NOT EXISTS acu_status TEXT;

-- 기존 데이터에 기본값 설정
UPDATE work_records 
SET 
    ecu_status = COALESCE(ecu_status, status),
    acu_status = COALESCE(acu_status, status)
WHERE ecu_status IS NULL OR acu_status IS NULL;

-- 성공 메시지
SELECT 'ECU/ACU 필드가 성공적으로 추가되었습니다!' AS message;
